<h3>Hi <%= @user.username %>!</h3>

<h4>Thank you for purchasing "<%= @ebook.title %>"!</h4>

<p>
  You have gotten <%= @discount %>% off the original price of <%= @ebook.price %>€,
  which corresponds to a <strong>discount</strong> of
  <strong><%= @ebook.discount_value(@discount) %>€</strong>!
</p>

<p>Happy reading!</p>
