<div id="<%= dom_id user %>">

  <div class="d-flex justify-content-center m-3">
    <h4>
      <%= admin_tag(user) %>
    </h4>
  </div>

  <div class="m-5">
    <%= avatar_tag(user) %>
  </div>

  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Enabled:</strong>
    <%= user.enabled %>
  </p>

  <% if user.ebooks.any? %>
    <p>
      <strong>Ebooks owned:</strong>
      <% user.ebooks.each do |ebook| %>
        <ul>
          <li><%= link_to ebook.title, ebook_path(ebook) %></li>
        </ul>
      <% end %>
    </p>
  <% end %>

</div>
