<% content_for :title, "Ebook Store - Users" %>

<h1>Users</h1>

<table id="users" class="table">
  <thead>
    <tr class="text-center">
      <th>Username</th>
      <th>Email</th>
      <th>Enabled?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr id="<%= dom_id user %>" class="text-center">
        <td><%= user.username %> <%= admin_tag(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.enabled ? 'Yes' : 'No' %></td>
        <td><%= link_to "View profile", user, class: 'btn btn-outline-dark' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
