<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<h1>Users</h1>

<table id="users" class="table">
  <thead>
    <tr class="text-center">
      <th>Username</th>
      <th>Email</th>
      <th>Enabled?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr id="<%= dom_id user %>" class="text-center">
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.enabled ? 'Yes' : 'No' %></td>
        <td>
          <div class="btn-group" role="group" aria-label="User management buttons">
            <%= link_to "Show", user, class: 'btn btn-outline-dark' %>
            <%= link_to "Edit", edit_user_path(user), class: 'btn btn-outline-dark' %>
            <%= link_to "Delete",
                        user,
                        data: {
                          turbo_method: :delete,
                          turbo_confirm: 'Are you sure?'
                        },
                        class: 'btn btn-outline-dark'
            %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New user", new_user_path, class: 'btn btn-outline-dark' %>
