<div id="<%= dom_id ebook %>">
  <p>
    <strong>Title:</strong>
    <%= ebook.title %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ebook.status %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= ebook.price %>
  </p>

  <p>
    <strong>Authors:</strong>
    <%= ebook.authors %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= ebook.genre %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= ebook.publisher %>
  </p>

  <p>
    <strong>Publication Date:</strong>
    <%= ebook.publication_date %>
  </p>

  <p>
    <strong>Pages:</strong>
    <%= ebook.pages %>
  </p>

  <p>
    <strong>ISBN:</strong>
    <%= ebook.isbn %>
  </p>

  <p>
    <strong>Sales:</strong>
    <%= ebook.sales %>
  </p>

  <p>
    <strong>Views:</strong>
    <%= ebook.views %>
  </p>

  <p>
    <strong>Preview downloads:</strong>
    <%= ebook.preview_downloads %>
  </p>

</div>
