<%= form_with(model: @ebook) do |form| %>
  <%= error_messages_for @ebook %>

  <div class="row mb-3">
    <%= form.label :title, style: 'display: block', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :status, style: 'display: block', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.select :status,
                      Ebook.statuses.keys,
                      {
                        include_blank: true
                      },
                      {
                        class: 'form-select'
                      }
      %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :price, style: 'display: block', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :price, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :authors, style: 'display: block', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :authors, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :genre, style: 'display: block', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :genre, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :publisher, style: 'display: block', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :publisher, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :publication_date, style: 'display: block', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.date_field :publication_date, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :pages, style: 'display: block', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.number_field :pages, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :isbn, style: 'display: block', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :isbn, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :sales, style: 'display: block', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.number_field :sales, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :views, style: 'display: block', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.number_field :views, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :tag_ids, "Tags", style: 'display: block', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.select :tag_ids,
                      Tag.pluck(:name, :id),
                      {
                        include_blank: true
                      },
                      {
                        class: 'form-control',
                        multiple: true
                      }
      %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :preview_downloads, style: 'display: block', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.number_field :preview_downloads, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :preview_file, style: 'display: block', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%# retain reference to the uploaded file to not upload it again in case of form re-rendering %>
      <%= form.hidden_field :preview_file, value: @ebook.preview_file.signed_id if @ebook.persisted? and @ebook.preview_file.attached? %>
      <%= form.file_field :preview_file, class: 'form-control', accept: 'application/pdf', direct_upload: true %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :cover_image, style: 'display: block', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%# retain reference to the uploaded file to not upload it again in case of form re-rendering %>
      <%= form.hidden_field :cover_image, value: @ebook.cover_image.signed_id if @ebook.persisted? and @ebook.cover_image.attached? %>
      <%= form.file_field :cover_image, class: 'form-control', accept: 'image/png,image/gif,image/jpeg', direct_upload: true %>
    </div>
  </div>

  <% if action_name == 'new' %>
    <%# ebook owner will be the currently logged in user %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  <% end %>

  <div class="d-flex justify-content-between" role="group" aria-label="Ebook management buttons">
    <%= link_to "Cancel", request.referer, class: 'btn btn-outline-dark' %>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
